/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Logo Section */
.logo-brand a {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    transition:color 0.3 ease;
}
.logo-brand a :hover{
    color: purple;
}

/* Navigation Styles */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    position: relative;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #575757;
    border-radius: 4px;
    color: #f9f9f9;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    nav ul li a {
        display: block;
        width: 100%;
    }
}
footer{
    background-color: #333;
    color:#fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom:0;
    width:100%;
}
.footer-content{
    font-size:16px;
    line-height: 1.5;
}
footer p{
    margin: 0;
}